<html Lang="en">
<head>
    <meta charset= "UTF-8">
    <title>Welcome</title>
</head>
<body>
    <form action= "/" method="post">
    <label for="firstname"> First name:</label>
    <input type="text" placeholder= " First name" name="first name"><br>
    <Label for= "Lastname">Last name</label>
    <input type="text" placeholder= "Last name" name="Last name"><br>
    <input type="email" placeholder="Username" name="username"><br>
    <input type="radio" id="Male" name="gender">
    <label for= "Male ">Male</label>
    <input type="radio" id="Male" name="gender">
    <input type="radio" id="Female " name= "gender">
    <Label for="Female ">Female</label>
    <input type= "radio" id="0ther" name= "gender">
    <label for="other">0ther</label><br><br>

    <input type="submit" value="Submit">
    </form>