<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>פאנל ניהול</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

<style>
    div.solid_round10 {
      border: 1px solid gainsboro;
      border-radius: 8px;
    }
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" dir="rtl">

  <br>
  <br>
  <br>

  <h2>ניהול אפליקציית Spider3D</h2>
  <br>
    <form action= "/" method="post">
            <div  class="solid_round10">
      <table class="table add-fields" data-af_base="#base-package-table-filed tbody" data-af_target=".packages">
        <thead>
           <tr>
    <!--        <td><a href="#" class="badge badge-primary add-form-field">add new row</a></td>-->
            <td><button type="button" class="btn add-form-field">הוסף תמונה בסליידר</button></td>
          </tr>
          <tbody class="packages">

          </tbody>
      </table>
      <table id="base-package-table-filed" hidden>
        <tbody>
        <tr>
<!--            <td><input type="radio" name="pic_type" value="קטגוריה"> קטגוריה<br>-->
<!--                <input type="radio" name="pic_type" value="מוצר"> מוצר</td>-->
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_type" placeholder="מוצר/קטגוריה"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="slider_num" placeholder="מס' סליידר"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_num" placeholder="מס' מוצר/ קטגוריה"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_link" placeholder="קישור לתמונה"></td>
          <td><button type="button" class="btn btn-danger remove-form-field"  data-target="tr">הסר</button></td>
        </tr>
        </tbody>
    </table>
            <button type="submit" value="Submit" class="btn add-form-field">עדכן</button>
            <!--            <input type="submit" value="Submit">-->
      </div>
    </form>
</div>
<!-- partial -->
<!--  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="script.js"></script>-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
      $('.add-fields').each(function(index, el) {
  var warp = $(this);
  var target = $(this).data('af_target') || '.content';
  var index = $(target).children('div, tr').length;
  var baseEl =$($(this).data('af_base')) || $(target).find('.form-field-base');
  var base = baseEl.html();
  baseEl.remove();
  //alert(base);

  warp.find(target).append(base.replace(/%index%/g, index));
  index ++;

  warp.on('click', '.add-form-field', function(e) {
    e.preventDefault();
    warp.find(target).append(base.replace(/%index%/g, index));
    index++;
  });

  warp.on('click', '.remove-form-field', function(e) {
    e.preventDefault();
    $(this).parents($(this).data('target') || '.form-group').remove();
  });
});
  </script>

</body>
</html>



