<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>פאנל ניהול</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>

<style>
    div.solid_round10 {
      border: 1px solid gainsboro;
      border-radius: 8px;
    }
</style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" dir="rtl">

  <br>
  <br>
  <br>

  <h2>ניהול אפליקציית Spider3D</h2>
  <h5>*יש לשים לב היטב לאופן השימוש למניעת תקלות* </h5>
  <br>
  <h6>- מוצר/ קטגוריה: יש להקליד product / category כדי לבחור לאן תוביל התמונה.</h6>
  <h6>- מס׳ קבוצה: יש לסמן ב 1 (ברירת מחדל) את כל הסליידרים באותה הקבוצה. </h6>
  <h6>- סדר הרשימה הוא סדר הצוגה כך שהסליידר הראשון מוצג ראשון...</h6>
  <h6>- מס׳ מוצר/ קטגוריה: יש ולהעתיק את ה id שלו מהקישור בלעמוד העריכה של המוצר המתאים (לדוגמא tag_ID=2352).</h6>
  <h6>- קישור לתמונה: קישור ישיר לתמונה, יחס מומלץ 18:9 (938×624), התמונה נחתכת מעט מלמטה ולמעלה.</h6>
  <h6 style="font-size:15px; color:DimGrey"> הערה: כדי להרים את שורת הקטגוריות לראש, יש לבחור במס׳ קבוצה 2.</h6>
  <h6 style="font-size:15px; color:DimGrey"><a href="https://i.imgur.com/ldOfYS4.png">דוגמא למילוי הפאנל ניהול.</a> </h6>
  <br>
    <form action= "/" method="post">
            <div  class="solid_round10">
      <table class="table add-fields" data-af_base="#base-package-table-filed tbody" data-af_target=".packages">
        <thead>
           <tr>
    <!--        <td><a href="#" class="badge badge-primary add-form-field">add new row</a></td>-->
            <td><button type="button" class="btn add-form-field">הוסף תמונה בסליידר</button></td>
          </tr>
          <tbody class="packages">

          </tbody>
      </table>
      <table id="base-package-table-filed" hidden>
        <tbody>
        <tr>
<!--            <td><input type="radio" name="pic_type" value="קטגוריה"> קטגוריה<br>-->
<!--                <input type="radio" name="pic_type" value="מוצר"> מוצר</td>-->
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_type" placeholder="מוצר/קטגוריה"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="slider_num" placeholder="מס' קבוצה"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_num" placeholder="מס' מוצר/ קטגוריה"></td>
            <td><input type="text" class="form-control" style="border-radius: 8px" name="pic_link" placeholder="קישור לתמונה"></td>
          <td><button type="button" class="btn btn-danger remove-form-field"  data-target="tr">הסר</button></td>
        </tr>
        </tbody>
    </table>
            <button type="submit" value="Submit" class="btn add-form-field">עדכן</button>
            <!--            <input type="submit" value="Submit">-->
      </div>
    </form>
    <br>
      <p style="font-size:11px" dir="ltr">
          To update the whole Config file push main branch on <a href="https://github.com/idan054/spider3DFlux">'Spider3DFlux'</a>  Repo.<br/>
          To update The sliders just click the "עדכן" Button. (This will use the live config at <a href="https://config-fluxstore-mauve.vercel.app">https://config-fluxstore-mauve.vercel.app</a> to update the sliders)

          <br/>
          <br/>
          <br/>This Cpanel run on Heroku server (at <a href="https://spider3d-admin.herokuapp.com">https://spider3d-admin.herokuapp.com</a>), who adapted to flask deploys. <br/>
          Push <a href="https://github.com/idan054/spider3d-Admin">'spider3d-admin'</a> repo will auto update this Cpanel on the server, Logs available on idanbit80@gmail.com user in Heroku site under Activity <br/>
</div>
<!-- partial -->
<!--  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script><script  src="script.js"></script>-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script>
      $('.add-fields').each(function(index, el) {
  var warp = $(this);
  var target = $(this).data('af_target') || '.content';
  var index = $(target).children('div, tr').length;
  var baseEl =$($(this).data('af_base')) || $(target).find('.form-field-base');
  var base = baseEl.html();
  baseEl.remove();
  //alert(base);

  warp.find(target).append(base.replace(/%index%/g, index));
  index ++;

  warp.on('click', '.add-form-field', function(e) {
    e.preventDefault();
    warp.find(target).append(base.replace(/%index%/g, index));
    index++;
  });

  warp.on('click', '.remove-form-field', function(e) {
    e.preventDefault();
    $(this).parents($(this).data('target') || '.form-group').remove();
  });
});
  </script>

</body>
</html>



